<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">All Users</a>
      <a mat-list-item href="#">Deactivated users</a>
      <a mat-list-item href="#">Reports</a>
      <a mat-list-item href="#">Messages</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
      <span class="justify-content-between"> 
        <h2>Moderator page</h2>
        
          <mat-toolbar-row class="justify-content-end">
               <div class="row mr-2 ml-auto">
                 <ul>
                   <li>
                     <button mat-button [mat-menu-trigger-for]="menu">
                       <img src="././assets/Moder.png" height="30" width="30" class="rounded-circle" alt="Moder">
                       Ivan Pidkivka
                       <mat-icon>keyboard_arrow_down</mat-icon>
                     </button>
                    
                     <mat-menu #menu="matMenu">
                       <button mat-menu-item>
                         <mat-icon>exit_to_app</mat-icon>
                         Logout
                       </button>
                       <button mat-menu-item>
                        <mat-icon>perm_identity</mat-icon>
                        My profile
                      </button>
                     </mat-menu>
                   </li>
                 </ul>
               </div>
      
          </mat-toolbar-row>
        
      </span>
   
    </mat-toolbar>
    <app-moderator-dashboard></app-moderator-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
